/* COLORS */
/* MIXINS */
body,
html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

/*Responsive NAv */
/* HEADER */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100vw;
  background-color: #2D3047;
  height: 80px;
  top: 0;
}

header label {
  margin: 0 0 0 0;
  font-size: 25px;
  line-height: 50px;
  display: none;
  margin: 0 20px;
  text-align: right;
}

header label #toggle {
  display: none;
}

header nav {
  display: block;
}

header nav a {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
}

header nav a:hover {
  color: #7A8899;
}

header #logo {
  font-size: calc(25px + 1vw);
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*HEADINGS */
h1 {
  font-family: 'Arial', sans-serif;
  font-size: calc(18px + 1.5vw);
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100vw;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  background-color: #7A8899;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
}

.top .box {
  text-align: center;
  width: 50vw;
  height: auto;
}

.top .box img {
  width: 50vw;
  float: left;
}

.top .box .ptop {
  width: 40vw;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  font-size: calc(12px + .5vw);
  color: #1e1e1e;
  line-height: normal;
  text-align: justify;
  text-justify: inter-word;
  color: #fff;
}

button {
  background-color: #FFBC42;
  color: #2D3047;
  padding: 15px 20px;
  border: none;
  font-weight: bold;
  margin-top: 40px;
}

button:hover {
  background-color: #d45f4f;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100vw;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
}

.middle .box2 {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 25vw;
  text-align: center;
  padding: 5rem 4rem;
}

.middle .box2 img h3 p {
  margin: 0 auto;
}

.middle img {
  width: 50%;
}

.middle h3 {
  font-family: 'Arial', sans-serif;
  font-size: calc(18px + 1.5vw);
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  color: #1e1e1e;
}

.middle .box2 p {
  font-family: 'Arial', sans-serif;
  font-size: calc(12px + .5vw);
  color: #1e1e1e;
  line-height: normal;
  text-align: justify;
  text-justify: inter-word;
}

.middle2 {
  position: relative;
  height: 500px;
  width: 100vw;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100vw;
  position: relative;
  background-color: #b9cee9;
  padding: 2rem 0;
  width: 100vw;
  z-index: 10;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
}

.main-container .left {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Arial', sans-serif;
  font-size: calc(12px + .5vw);
  color: #1e1e1e;
  line-height: normal;
  text-align: justify;
  text-justify: inter-word;
  width: 100vw;
  margin: 0 auto;
  padding: 0 80px;
  text-align: center;
}

.main-container .right {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-container .right img {
  width: 50%;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: calc(18px + 1.5vw);
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  color: #1e1e1e;
}

.bottom {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5rem 4rem;
}

.bottom .bottom-in {
  font-family: 'Arial', sans-serif;
  font-size: calc(12px + .5vw);
  color: #1e1e1e;
  line-height: normal;
  text-align: justify;
  text-justify: inter-word;
  margin: 3rem auto;
  width: 80vw;
}

footer {
  background-color: #2D3047;
  width: 100vw;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100vw;
}

footer .footer2 {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h3 {
  font-family: 'Arial', sans-serif;
  font-size: calc(18px + 1.5vw);
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 20px;
  color: #7A8899;
}

footer p {
  font-family: 'Arial', sans-serif;
  font-size: calc(12px + .5vw);
  color: #1e1e1e;
  line-height: normal;
  text-align: justify;
  text-justify: inter-word;
  color: #7A8899;
  font-size: 12px;
  padding: 1rem 2rem;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */