/* COLORS */

$color1: #2D3047;
$color2: #b9cee9;
$colorWhite: #fff;
$colorText: #1e1e1e;
$colorGray: #7A8899;
$colorAccent: #ED6A5A;

/* MIXINS */

@mixin nav {
    font: {
        family: 'Arial', sans-serif;
        size: 14px;
    }
    text: {
        transform: uppercase;
        decoration: none;
    }
    color: $colorWhite;
}

@mixin headings {
    font: {
        family: 'Arial', sans-serif;
        size: calc(18px + 1.5vw);
    }
    text: {
        transform: uppercase;
        align: center;
    }
    color: $colorWhite;
}

@mixin text {
    font: {
        family: 'Arial', sans-serif;
        size: calc(12px + .5vw);
    }
    color: $colorText;
    line-height: normal;
    text-align: justify;
    text-justify: inter-word;
}

@mixin buttons {
    background-color: #FFBC42;
    color: $color1;
    padding: 15px 20px;
    border: none;
    font-weight: bold;
    margin-top: 40px;
    &:hover {
        background-color: #d45f4f;
    }
}

@mixin flexparent {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    flex-flow: row wrap;
    width: 100vw;
}

@mixin flexchild {
    display: inline-block;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}


/* HEADER */

header {
    @include flexparent();
    background-color: $color1;
    height: 80px;
    top: 0;
    nav {
        display: inline;
        vertical-align: middle;
        a {
            @include nav();
            padding: 0 15px;
            &:hover {
                color: $colorGray;
            }
        }
    }
    #logo {
        font-size: calc(25px + 1vw);
        font-weight: bold;
        align-self: center;
    }
}


/*HEADINGS */

h1 {
    @include headings();
}

.top {
    @include flexparent();
    flex-flow: row nowrap;
    background-color: $colorGray;
    .box {
        text-align: center;
        width: 50vw;
        height: auto;
        img {
            width: 100%;
            float: left;
        }
        .ptop {
            width: 40vw;
            margin: 0 auto;
            @include text();
            color: $colorWhite;
        }
    }
}

button {
    @include buttons();
}

.middle {
    @include flexparent();
    flex-wrap: nowrap;
    width: 100%;
    .box2 {
        @include flexchild();
        display: block;
        flex-flow: column nowrap;
        width: 25%;
        text-align: center;
        padding: 3rem 4rem;
    }
    .box2 img h3 p {
        margin: 0 auto;
    }
    img {
        width: 50%;
    }
    h3 {
        @include headings();
        color: $colorText;
    }
    .box2 p {
        @include text();
    }
}

.middle2 {
    position: relative;
}

.background-rec {
    background-color: $color2;
    position: absolute;
    height: 500px;
    width: 100vw;
}

.main-container {
    @include flexparent();
    position: relative;
    width: 100vw;
    z-index: 10;
    flex-flow: row nowrap;
    .left {
        @include flexchild();
        @include text();
        width: 100vw;
        margin: 0 auto;
        padding: 0 80px;
        text-align: center;
    }
    .right {
        @include flexchild();
        width: 100%;
        img {
            width: 51.59%;
            text-align: center;
        }
    }
}

h2 {
    @include headings();
    color: $colorText;
}

.bottom {
    width: 100vw;
    .bottom-in {
        @include text();
        width: 50vw;
        margin: 3rem auto;
    }
}