/*$primaryBtn: rgb(175, 65, 120);
$textColor: black;
@mixin flexCenter($direction, $background) {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
}

header {
    @include flexCenter(column, );
    color: $textColor;
    background: lightblue;
    width: 100% - 90%;
    button {
        background: $primaryBtn;
        &::after {
            content: "end";
        }
    }
} */

$mainfont: 'Arial',
sans-serif;
$pcolor: #1e1e1e;
body {
    font-family: $mainfont;
    color: $pcolor;
}

//Use variables by declaring them with $ at the beginning
//Variables help keep design consistent in all classes and change property values very easily
//nesting classes, saves space of