    /* COLORS */
    
    $color1: #2D3047;
    $color2: #b9cee9;
    $colorWhite: #fff;
    $colorText: #1e1e1e;
    $colorGray: #7A8899;
    $colorAccent: #ED6A5A;
    /* MIXINS */
    
    @mixin nav {
        font: {
            family: 'Arial', sans-serif;
            size: 14px;
        }
        text: {
            transform: uppercase;
            decoration: none;
        }
        color: $colorWhite;
    }
    
    @mixin headings {
        font: {
            family: 'Arial', sans-serif;
            size: calc(18px + 1.5vw);
        }
        text: {
            transform: uppercase;
            align: center;
        }
        color: $colorWhite;
    }
    
    @mixin text {
        font: {
            family: 'Arial', sans-serif;
            size: calc(12px + .5vw);
        }
        color: $colorText;
        line-height: normal;
        text-align: justify;
        text-justify: inter-word;
    }
    
    @mixin buttons {
        background-color: #FFBC42;
        color: $color1;
        padding: 15px 20px;
        border: none;
        font-weight: bold;
        margin: 20px 0;
        &:hover {
            background-color: #d45f4f;
        }
    }
    
    @mixin flexparent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100vw;
    }
    
    @mixin flexchild {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        width: 100vw;
    }
    
    body,
    html {
        padding: 0;
        margin: 0;
        height: 100vh;
        box-sizing: border-box;
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        overflow-x: hidden;
    }
    /*Responsive NAv */
    /* HEADER */
    
    header {
        background-color: $color1;
        width: 100vw;
        height: 80px;
        position: fixed;
        z-index: 15;
        .hamburger {
            display: none;
            margin: 0;
            float: right;
            background-color: transparent;
            color: $colorWhite;
            outline: none;
            border: none;
            font-size: 35px;
            cursor: pointer;
            &:hover {
                background-color: transparent;
            }
        }
        nav {
            @include flexparent();
            margin: 0;
            padding-top: 15px;
            li {
                @include nav();
                @include flexchild();
                display: inline;
                padding: 0 15px;
                text-decoration: none;
                a {
                    display: inline-block;
                    @include nav();
                    &:hover {
                        color: $colorGray;
                    }
                }
            }
        }
    }
    /*HEADINGS */
    
    h1 {
        @include headings();
    }
    
    .top {
        @include flexparent();
        position: relative;
        flex-flow: row nowrap;
        background-color: $colorGray;
        box-sizing: border-box;
        margin-top: 80px;
        .box {
            text-align: center;
            width: 50vw;
            img {
                width: 50vw;
                float: left;
            }
            .ptop {
                width: 40vw;
                margin: 15px auto;
                @include text();
                color: $colorWhite;
            }
        }
    }
    
    button {
        @include buttons();
    }
    
    .middle {
        @include flexparent();
        box-sizing: border-box;
        position: relative;
        //*top: 100px;
        margin-top: 50px;
        width: 100vw;
        .box2 {
            @include flexchild();
            display: block;
            flex-flow: column nowrap;
            width: 25vw;
            text-align: center;
            padding: 25px 25px;
            margin: 0 25px;
            overflow-y: hidden;
        }
        .box2 img h3 p {
            margin: 0 auto;
        }
        img {
            width: 50%;
        }
        h3 {
            @include headings();
            color: $colorText;
        }
        .box2 p {
            @include text();
        }
    }
    
    .middle2 {
        position: relative;
        width: 100vw;
        margin-top: 50px;
        .main-container {
            @include flexparent();
            background-color: $color2;
            padding: 2rem 0;
            width: 100vw;
            z-index: 10;
            flex-flow: row nowrap;
            .left {
                @include flexchild();
                @include text();
                flex-direction: column;
                width: 100vw;
                margin: 0 auto;
                padding: 0 80px;
                text-align: center;
            }
            .right {
                @include flexchild();
                width: 100%;
                img {
                    width: 50%;
                }
            }
        }
    }
    
    h2 {
        @include headings();
        color: $colorText;
    }
    
    .bottom {
        display: block;
        width: 100vw;
        box-sizing: border-box;
        margin-top: 100px;
        .bottom-in {
            @include text();
            width: 80vw;
            margin: 0 auto;
        }
    }
    
    footer {
        position: relative;
        margin-top: 100px;
        bottom: 0;
        background-color: $color1;
        width: 100vw;
        @include flexparent();
        .footer2 {
            @include flexchild();
        }
        h3 {
            @include headings();
            font-size: 20px;
            color: $colorGray;
        }
        p {
            @include text();
            color: $colorGray;
            font-size: 12px;
            padding: 1rem 2rem;
            text-align: center;
        }
    }
    /*----------------MEDIA QUERIES--------------*/
    
    @media screen and (max-width:768px) {
        header {
            .hamburger {
                display: block;
                margin-right: 25px;
            }
            .nav-ul {
                display: none;
                width: 100%;
                margin: 0 auto;
                text-align: center;
                padding: 0;
                li {
                    width: 100%;
                    padding: 20px 0;
                }
            }
            .show {
                display: flex;
                flex-direction: column;
                @include flexchild();
                box-sizing: border-box;
                margin-top: -5px;
                justify-content: center;
                background-color: $color1;
                z-index: 11;
            }
        }
        .middle {
            flex-flow: row wrap;
        }
        .middle2 {
            .main-container {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .left {
                    margin: 0 auto;
                    padding: 0;
                    width: 50vw;
                }
            }
        }
        .bottom {
            top: 300px;
        }
    }